<div class="col-xs-7 all">
	<h2>About</h2>
	<p>
		新しい価値を求める人が様々な情報を求めている時、いろんな感性に触れたい時に閲覧、または投稿できるサイトです。
	</p>
	<p>
		ログインしたユーザーは投稿や投稿に対していいね・コメント、他ユーザーをフォローする事ができます。
	</p>
	<P>
		ログインしていないユーザーでも投稿一覧・投稿詳細・ユーザー一覧・ユーザー詳細を閲覧やワードで投稿を検索できます。
	</p>
</div>